# Wintel binary
*.exe

# Mac binary
*.app

# Mac meta
.DS_Store

# except for .gitignore and .gitkeep
!.gitignore
!.gitkeep

# Produced images start with this
http*
screenshots/*.png
cache/simhash_*
cache/simhashes_*
composites/*.png

# node remnants
node_modules
build
