.image-block { width:78px; margin:0px 10px; float:left; }
.image-block > img {border: 1px solid black; box-shadow: 0px 0px 25px 5px #000; background-color: white;} /* White background for those mementos whose SS bg is invisible */
.reflection { position:relative; }
.reflection img {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; opacity:0.20;
    filter: alpha(opacity='20');
    background-color: white;
}
.overlay { position:absolute; top:0px; left:0px; width:78px; height:120px;
background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%);
background-image: -o-linear-gradient( rgba(255,255,255,0) 25%, rgb(255,255,255) 40%);
background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.5, rgb(0,0,0)), color-stop(0.75, rgba(255,255,255,0)));
filter: progid:DXImageTransform.Microsoft.Gradient( gradientType=0, startColor=0, EndColorStr=#ffffff);
}
.ui-state-active > img{box-shadow: 0px 0px 50px 10px #000;border: 3px ridge #999; border-bottom: 0; }
.ui-state-active .reflection img {z-index:10; position: relative; }
.ui-state-active h2 {display: block;} /* Only show the current titles */
.ui-state-active .caption {display: block;}

